<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="getStar" class="november26.homework.Star" scope="prototype">
        <constructor-arg value="Sun"/>
    </bean>

    <bean id="Earth" class="november26.homework.Planet">
        <constructor-arg value="Earth"/>
    </bean>

    <bean id="getPlanet2" class="november26.homework.Planet">
        <constructor-arg value="Jupiter"/>
    </bean>

    <bean id="Venus" class="november26.homework.Planet">
        <constructor-arg value="Venus"/>
    </bean>

    <bean class="november26.homework.SolarSystem">

        <constructor-arg index="0" ref="getStar"/>
        <constructor-arg index="1">
            <list>
                <ref bean="Earth"/>
                <ref bean="getPlanet2"/>
                <ref bean="Venus"/>
            </list>
        </constructor-arg>
    </bean>
</beans>